;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
weight = 100
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
fallSpeed = 800
fastFallSpeed = 2000

wallFallSpeed = 250
wallFastFallSpeed = 450

stunFallSpeed = 800
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
gravity = 30
fastFallGravity = 80

wallGravity = 10
wallFastFallGravity = 20

stunGravity = 40
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
groundSpeed = 600
airSpeed = 700
crawlSpeed = 400
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
groundAcceleration = 50
airAcceleration = 55
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
jumpHeight = 600
shorthopHeight = 400
crouchJumpHeight = 600
crouchShorthopHeight = 400
doubleJumpHeight = 800
horizontalWallJump = 800
verticalWallJump = 600
fastfallMargin = -400
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
maxClingsAllowed = 4
maxAirJumpsAllowed = 2
maxDodgesAllowed = 1

givenClingsOnHitting = 2
givenClingsOnGettingHit = 1

givenAirJumpsOnHitting = 1
givenAirJumpsOnGettingHit = 1

givenDodgesOnHitting = 1
givenDodgesOnGettingHit = 1
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
forwardRollStartup = 3
forwardRollLength = 10
forwardRollSpeed = 2000
forwardRollEndlag = 4
forwardRollCooldown = 30

backRollStartup = 3
backRollLength = 10
backRollSpeed = 2000
backRollEndlag = 4
backRollCooldown = 30
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
spotAirDodgeStartup = 3
spotAirDodgeLength = 20
spotAirDodgeEndlag = 8
spotAirDodgeCooldown = 120

directionalAirDodgeStartup = 2
directionalAirDodgeLength = 10
directionalAirDodgeSpeed = 1500
directionalAirDodgeEndlag = 5
directionalAirDodgeCooldown = 120

spotGroundedDodgeStartup = 2
spotGroundedDodgeLength = 15
spotGroundedDodgeEndlag = 10
spotGroundedDodgeCooldown = 120
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
wavedashVelocityMutliplier = 1;1.5
wavedashFrictionMultiplier = 0.75
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
runStartup = 10
runInitialSpeed = 800
runAcceleration = 100
runSpeed = 700
runTurn = 5
runJumpSquat = 2
runJumpHeight = 600
runJumpSpeed = 1000
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
restoreDodgeOnGroundTouch = true
restoreDodgeOnWallTouch = false
restoreDodgeOnHitting = true
restoreDodgeOnGettingHit = false
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
ceilingBonkBounce = 0.25
ceilingBounce = 0.95
wallBounce = 0.95
floorBounce = 0.95
groundFriction = 0.1
airFriction = 0.07
wallFriction = 0.6
slopeFriction = 0.1
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
impactLand = 3
jumpSquat = 4
crouchJumpSquat = 4
airJumpSquat = 0
walkTurn = 3

duckLength = 2
getupLength = 2

wallLand = 2
wallJumpSquat = 2
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
DamageTakenMult = 1
KnockbackTakenMult = 1
StunTakenMult = 1

DamageDoneMult = 1
KnockbackDoneMult = 1
StunDoneMult = 1
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
clashStun = 20
clashForce = 1000